<html lang="es-ES">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
    <title>Feat: Crea y edita documentos en forma colaborativa online</title>
    <link rel="stylesheet" type="text/css" href="vendors/css/ionicons.min.css">
    <link rel="stylesheet" href="vendors/css/bootstrap/dist/css/bootstrap.min.css">
    <script src="vendors/js/jquery.min.js"></script>
    <script src="vendors/css/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="resources/css/feat-e.css"> </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row header">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <image class="imgl5 abst" src="resources/img/logo4.png">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-7"></div>
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4">
                <button class="btn btn-success spc">Salir<span class="ion-log-out out"></span></button>
            </div>
        </div>
        <div class="row mid">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hin">Hola, <em>Michelle Lombardi</em> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 center">
                        <div class="info_u center">
                            <div class="row">
                                <div class="col-lg-3">
                                    <button title="Grupo de trabajo" class="descg ion-android-contacts b1e" ng-click="Create()"></button>
                                    <p class="descp">Crear documento</p>
                                </div>
                                <div class="col-lg-3">
                                    <button title="Guardar archivo" class="descg ion-android-attach b1e"></button>
                                    <p class="descp">Guardar archivo.</p>
                                </div>
                                <div class="col-lg-3">
                                    <button title="Salva el archivo en tu ordenador" class="descg ion-android-archive b1e"></button>
                                    <p class="descp">Descargar archivo.</p>
                                </div>
                                <div class="col-lg-3">
                                    <button title="Ir al escritorio" class="descg ion-android-folder-open b1e"></button>
                                    <p class="descp">Ir al escritorio de trabajo.</p>
                                </div>
                            </div>
                            <br> </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <textarea class="ta"></textarea>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> </div>
        </div>
        <div class="row footer center abst">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">© 2017 Feat.</div>
        </div>
</body>

</html>