<html lang="es-ES">

<head>
    <link rel="stylesheet" type="text/css" href="resources/css/feat-c.css"> </head>

<body>
    <div class="container-fluid">
        <div id="d1" class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="row tpagec">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"><span class="cono abst">Conócenos</span></div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
                        <div class="triangulo_inf pt"></div>
                    </div>
                    <div class="col-lg-7 col-md-5 col-sm-7 col-xs-7">
                        <image ng-click="gohome()"  class="imglc abst" src="resources/img/logo4.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h2 class="mh2">Feat te ofrece un nuevo mecanismo de trabajo.</h2>
                        <p class="pp"> Puedes colaborar en la edición de documentos de forma simultánea con los participantes de tu equipo de trabajo, sin importar si se encuentran dispersos geográficamente.
                            <br>
                            <br>Feat otorga a sus usuarios una nueva forma de trabajar, con la finalidad de aumentar su productividad. </p>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                <br>
                                <br>
                                <br> </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center">
                        <div class="mf">
                            <figure>
                                <picture><img class="img1" src="resources/img/linea-001.png" /></picture>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <br> </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">
                        <h2 class="h2-si">Todo lo que necesitas <span class="lb">para colaborar en documentos.</span></h2></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <br> </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-0">
                        <!--ARREGLAR X0 -->
                        <div class="canvas-inner center"><img class="gif1" src="resources/img/preba.gif" /> </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="color:black">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                <div class="feature-icon center">
                                    <div class="item-icon ion-android-time"></div>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-10">
                                <p class="tprin">Edición en tiempo real.</p>
                                <p class="tsub">Feat proporciona un editor mediante el cual varias personas podrán modificar el texto de cualquier documento al mismo tiempo y en espacios geográficos distintos, si así se desea.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                <div class="feature-icon center">
                                    <div class="item-icon ion-chatbubbles"></div>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-10">
                                <p class="tprin">Chat grupal.</p>
                                <p class="tsub">Como herramienta de comunicación entre los participantes de la edición de cualquier documento o archivo de texto sin formato, Feat ofrece la posibilidad de crear un chat.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                <div class="feature-icon center">
                                    <div class="item-icon ion-android-contacts"></div>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-10">
                                <p class="tprin">Administración de roles en la edición.</p>
                                <p class="tsub">El creador del documento a editar podrá manejar los roles del resto de los participantes de la colaboración. Esto es, otorgarle a los otros la posición de observador, editor y, si así se quiere, de administrador. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                                <div class="feature-icon center">
                                    <div class="item-icon ion-android-download"></div>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-10">
                                <p class="tprin">Descarga de documentos y la nube.</p>
                                <p class="tsub">Los documentos creados se guardarán en la nube. Sin embargo, cualquiera de los participantes de la colaboración podrá descargar dicho documento en su ordenador.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <br> </div>
                </div>
            </div>
        </div>
        <div class="row" id="d3">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-0">
                        <br>
                        <br>
                        <br>
                        <br> </div>
                </div>
                <div class="row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">
                        <h2 class="ts">Personas al rededor del mundo eligen Feat todos los días.</h2></div>
                </div>
                <div class="row">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-0">
                        <br> </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
                    <div class="col-lg-2 col-sm-3 col-md-2 col-xs-3">
                        <div class="numbers" data-size="100">
                            <ul class="nmb">
                                <li class="docn" id="about-d" ><strong class="fnmb" >0</strong>documentos creados</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-3">
                        <div class="numbers" data-size="100">
                            <ul class="nmb">
                                <li class="center" id="about-u"><strong class="fnmb" >0</strong>usuarios</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-md-2 col-xs-3">
                        <div class="numbers" data-size="100">
                            <ul class="nmb">
                                <li class="din"><strong class="fnmb">1</strong>días desde el lanzamiento</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <br>
                <br>
                <br>
                <br> </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <br>
                <br>
                <br>
                <br> </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 center">
                        <h2 class="h2-si">¡No puedes perder la oportunidad que te ofrece Feat! <span class="lb">Empieza a trabajar de una manera distinta.</span></h2></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 center">
                        <p class="fl" style="color:black">Solo te llevará unos segundos en registrarte.</p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br>
                    <br> </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 center">
                        <button ng-click="register()" class="btn btn-info regis">Regístrate, es gratuito</button>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <br>
                    <br>
                    <br>
                    <br> </div>
            </div>
        </div>
        <div class="row footer">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2"> <img class="lts" src="resources/img/letras.png" /> </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <p class="fl">Colaborar en documentos nunca resultó más fácil.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center">© 2017 Feat.</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </bod>

</html>